<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">Time to start workout</mat-card-title>
    <mat-card-content fxLayoutAlign="center"> 
      <mat-form-field>
        <mat-select placeholder="Exercise">
          <mat-option *ngFor="let exerciseValue of exercises"value="exerciseValue.id">
            {{exerciseValue.name}}
          </mat-option>
         
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button type="submit" (click)="onStartTraining()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
